@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-400 text-gray-100;
    -webkit-font-smoothing: antialiased
}

body, input, textarea, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}